.panel.panel-primary
  .panel-body
    .has-error(*ngIf='errorMessage') {{errorMessage}}
    .table-responsive
      table.table(*ngIf='projects && projects.length')
        thead
          tr
            th Project
            th Available
            th Coverage
            th Score
        tbody
          tr(*ngFor='let project of projects')
            td
              a([routerLink]="['/projects', project.projectId]")
                | {{project.projectName}}
            td {{ project.releaseDate }}
            td
              cm-coverage-pill([percent]='project.coverage')
            td
              ai-star([rating]='project.starRating', (ratingclicked)='onRatingClicked($event)')
