.crop([style.width.px]='starWidth', [title]='rating', (click)='onClick()')
  div(style='width: 86px')
    span.glyphicon.glyphicon-star
    span.glyphicon.glyphicon-star
    span.glyphicon.glyphicon-star
    span.glyphicon.glyphicon-star
    span.glyphicon.glyphicon-star
