.panel.panel-primary
  .panel-heading
    | {{pageTitle}}
  .panel-body
    .row
      img.img-responsive.center-block(src='./app/assets/images/logo.jpg', style='max-height:300px;padding-bottom:50px')
